body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #f6f6f6;
}
/*font-family: 'Oleo Script', cursive;
font-family: 'Oxygen', sans-serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
	/* центрирование всей инфы*/
	
.layout-positioner {
   width: 932px;
   padding: 0 10px;
   margin: 0 auto;
  - border: 5px dotted green;
   
}

.layout-positioner:after {
    content:'';
    display: table;
    clear: both;   
}
.clearfix:after {
    content:'';
    display: table;
    clear: both;   
}

.main {
	margin: 50px auto;
	background-color: #ffffff;
	padding: 15px 20px;
	width: 972px;
	box-sizing: border-box;
	-overflow: hidden;
	position: relative;
	z-index: 10;
}
.main:after {
	content:" ";
	height: 20px;
	width: 972px;
	position: absolute;
	bottom: -20px;
	right: 0;
	display: block;
	background: url("tenprava.png") no-repeat 0 -40px,
	url("tenlevo.png") no-repeat 0 -39px;
	z-index: 5;
}


/* шапка */
.header {
	-background-color: red;
	width: 932px;
}
/* левое лого */

.tittle-logo { 
font-size: 11px;
color: #999999;

}
.left-logo {
	width: 200px;
	height: 100px;
	float: left;
}

h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 40px;
	color: #222222;
}


/* менюшка */

nav {
	float: right;
	height: 100px;
	width: 550px;
}
.glavmenu {
	width: 550px;
	height: 32px;
	list-style: none; 
	margin: 20px 0;
	-background-color: green;
	text-align: center;
		font-size: 0;
		
}

.glavmenu > li {
	display: inline-block;
	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
	text-align: cetner;
	color: #666666;
	padding: 12px 10px;
	margin-left: 25px;
	-background: blue;
	position: relative;
	font-weight: bold;
}

ul.glavmenu > a {
	display: block;
}
.glavmenu > li:first-child {
	padding-left: 10px;
}
.glavmenu > li:hover {
	background-color: #f5f5f5;
	border-radius: 2px;
}
.glavmenu > li a:link, a:visited {
	text-decoration: none;
	color: #666666;
}

.glavmenu >  li a:link:hover, a:visited:hover {
	color: black;
}

/*кнопка оранж*/
#buttom-applynow {
	padding: 10px 6px;
	color: white;
	font-size: 14px;
	background-color: #ffc24b;
	border: 1px solid #efaf3f;
	border-radius: 2px;
	text-shadow: 1px -1px 1px #eba334;
   

}
#buttom-applynow:hover {
	background: linear-gradient(0deg, #FFD382 23%, #ffc24e 89%);
}

#buttom-applynow a, 
#buttom-applynow a:link:hover, 
#buttom-applynow a:visited:hover {
	color: white;
}

#buttom-applynow a:active{
     position: relative;
     top: 1px;
 }

/* выпадающее меню*/
ul.submenu {
	display: none;
	
	width: 170px;
	height: 155px;
	position: absolute;
    top: 40px;
    left: -15px;
    z-index: 10;
   -text-align: right;
    margin: 0;
    padding: 10px 5px;
    list-style: none;
    background: #ffffff;
	border: 1px solid #dddddd;
	
}
.submenu li {
	padding: 5px 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: left;
	box-sizing: border-box;
	color: #666666;
	-background: lightgrey;
	border-bottom: 1px solid #e5e5e5;
	font-size: 10px;
	font-family: 'Oxygen Regular', sans-serif;
}
.submenu li a {
	font-size: 12px;
	font-family: 'Oxygen Regular', sans-serif
}

.submenu li:last-child {
	border: none;
	margin-bottom: 10px;
}
.submenu li:hover {
	background-color: #f3f3f3;
	
}
.submenu-Articles {
	font-size: 10px;
	color: b4b4b4;
	font-family: Arial;
	}
	
	
.submenu::before {
	content: " ";
	position: absolute;
	top: -2px;
	left: 25px;
	width: 16px;
	height: 8px;
	background: transparent url("treugol.png") 0 0;
}
ul.submenu li a:hover {
	color: lightgrey;
}
ul.glavmenu li:hover ul {
	display: block;

}







	/* Контакты*/
	
	.contact-main-block {
		min-height: 540px;
		width: 100%;
	}
	.contact-main-block h1 {
		height: 55px;
		font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	color: #bbbbbb;
	font-weight: 500;
	margin: 0 0 -15px 0;
	padding: 0;
	padding-top: 5px;
	border-top: 1px solid #e5e5e5;
	border-radius: 2px;
	
	}
	.main-contact-section h2 {
	height: 55px;
	font-family: 'Oxygen', sans-serif;
	font-size: 15px;
	color: #222222;
	font-weight: 600;
	margin: 0 0 -10px 0;
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
	
	box-shadow:  0px -22px 5px -20px  rgba(240,240,240,0.8);

	}
	/*линия-стрелака*/
.container,
.container:after,
.container div:first-child,
.container div:last-child {
  position: absolute;
  
  -border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 100%;
  height: 10px;
  }

	.container div:first-child {
		 position: absolute;
		 width: 51px; 
		 border-top: 1px solid #e0e0e0;
		 box-shadow: inset 1px 4px 3px -4px rgba(208,208,208,0.3);
	}
	.container div:last-child {
		 position: absolute;
		 left: 61px;
		 width: 550px; 
		 border-top: 1px solid #e0e0e0;
		  box-shadow: inset 1px 4px 3px -4px rgba(208,208,208,0.3);
	}
.container:after {
  content: '';
  display: block;
  left: 71px;
  top: 16.5px;
  margin: -20px 0 0 -19px;
  border: 1px solid #e0e0e0;
  border-right: none;
  border-top: none;
  border-width: 1px;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
   box-shadow: -2px 2px 0.5px 0.5px rgba(208,208,208,0.05);
}


	
.main-contact-section {
	position: relative;
	width: 100%;
	-background-color: yellow;
	
}
.contact-section-form-left,
.contact-section-info-right { 
display: inline-block;
}
.contact-section-form-left {
	width: 612px;
	-background-color: #ae0;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 14px;
	color: #444444;
}
/*правое*/
.contact-section-info-right {
	width: 280px;
	-background-color: #ae0;
	font-size: 10px;
	position: absolute;
	top: 15px;
	right: 1px;
	height : 165px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	
}
.contact-section-info-right h3 {
	width: 260px;
	margin-left: 10px;
	padding: 5px 0;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	color: #222222;
}
.contact-section-info-right p {
	padding: 10px;
	font-size: 12px;
	text-align: justify;
	font-weight: 200;
	line-height: 1.5em;
}


#login-field {
	margin-left: 70px;
	width: 153px;
	height: 23px;
	margin-bottom: 15px;
	border: 1px solid #dddddd;
	box-shadow: inset 0px 0px 5px 0px #e4e4e4;
	border-radius: 4px;
}

input[type=text]:focus {
     outline: 2px solid #ffbe47; 
   }

#website {
	margin-left: 58px;
	width: 153px;
	height: 23px;
	margin-bottom: 15px;
	border: 1px solid #dddddd;
	box-shadow: inset 0px 0px 5px 0px #e4e4e4;
	border-radius: 4px;
}
input[type=url]:focus {
     outline: 2px solid #ffbe47; 
   }

#email {
	margin-left: 68px;
	width: 153px;
	height: 23px;
	margin-bottom: 15px;
	border: 1px solid #dddddd;
	box-shadow: inset 0px 0px 5px 0px #e4e4e4;
	border-radius: 4px;
}
input[type=email]:focus {
     outline: 2px solid #ffbe47; 
   }

#comment-field {
		width: 475px;
		height: 177px;
		margin-top: -15px;
		margin-left: 116px;
		margin-bottom: 15px;
		border: 1px solid #dddddd;
		box-shadow: inset 0px 0px 5px 0px #e4e4e4;
		border-radius: 4px;
	}
textarea{
	resize: none;
	padding: 10px;
}	
textarea::-webkit-input-placeholder{
	-color: transparent;
	}
	textarea:focus {
     outline: 2px solid #ffbe47; 
   }

   
   
.contact-section-form-left span {
		vertical-align: top;
	}
	
input[type=submit] {
	padding: 5px 5px;
	color: white;
	font-size: 14px;
	background-color: #ffba43;
	border: 1px solid #efaf3f;
	border-radius: 2px;
	width: 135px;
	height: 30px;
   margin-left: 115px;

}
input[type=submit]:hover {
	background: linear-gradient(0deg, #FFD382 23%, #ffc24e 89%);
}


	
	/* Линия */
	.line {
		width: 972px;
		height: 35px;
		
		background-color: #f6f6f6;
		padding: 16px 0;
		margin:  0 0 0 -20px;
		
	}

.line hr {
	border: 1px solid #dfdfdf;
	margin:  0 0px 0 -10px;
	width: 932px;
}
/* низ */
footer {
	margin: 0px 0 0 -20px;
	height: 245px;
	width: 972px;
	font-size: 10px;
	
	
	list-style-position: inside;
		-background-color: #ae0;
}
.SINGLE-MENU-TITLE {
	width: 25%;
	display: inline-block;
	-background-color: lightgreen;	
	vertical-align: top;
	margin-top: -10px ;
	padding-bottom: 10px;
}

.Cursus-Venenatis-Mollis {
	width: 25%;
	-background-color: lightyellow;
	display: inline-block;
	vertical-align: top;
	margin-top: -10px ;
	padding-bottom: 10px;
}

.LATEST-ARTICLES {
	width: 49%;
	-background-color: lightblue;
	display: inline-block;
	vertical-align: top;
	margin-top: -10px ;
	padding-bottom: 10px;
}


footer h3 {
	color: #ffad19;
	font-size: 12px;
	margin-bottom: 15px;
	padding-top: 25px;
}

.SINGLE-MENU-TITLE ul, 
.Cursus-Venenatis-Mollis ul {
	width: 190px;
	text-align: left;
	list-style-position: inside;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: regular;
	color: #666666;
	line-height: 1.5em;
	list-style: none;
	padding-left: 1px;
}
.SINGLE-MENU-TITLE ul li,
.Cursus-Venenatis-Mollis ul li {
	width: 182px;
	text-align: left;
	color: #666666;
	padding: 6px 0;
	border-bottom: 1px solid #e5e5e5;
}
.ul-first-column-foot li:last-child,
.ul-two-column-foot li:last-child, 
.ul-three-column-foot li:last-child  {
		border: none;
}
.SINGLE-MENU-TITLE ul li a,
.Cursus-Venenatis-Mollis ul li a {
	text-decoration: none;
	color: #666666;
}

.LATEST-ARTICLES ul {
	width: 458px;
	text-align: left;
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: regular;
	color: #666666;
	line-height: 1.5em;
	list-style: none;
	padding: 0 4px;
	}
.LATEST-ARTICLES ul li {
border-bottom: 1px solid #e5e5e5;
padding: 10px 0 10px 33px;
position: relative;
}

.LATEST-ARTICLES ul li span {
	font-size: 12px;
	text-decoration: underline;
	color: #666666;
}
.LATEST-ARTICLES ul li:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 24px;
	height: 20px;
	background: url("latest-artic.png") 0 0;
	background-repeat: no-repeat;
	
}
