body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #f6f6f6;
}
/*font-family: 'Oleo Script', cursive;
font-family: 'Oxygen', sans-serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
	/* центрирование всей инфы*/
	
.layout-positioner {
   width: 932px;
   margin: 0 auto;
   -border: 5px dotted green;
   
}

.layout-positioner:after {
    content:'';
    display: table;
    clear: both;   
}
.clearfix:after {
    content:'';
    display: table;
    clear: both;   
}

.main {
	margin: 50px auto;
	background-color: #ffffff;
	padding: 15px 20px;
	width: 972px;
	box-sizing: border-box;
	-overflow: hidden;
	position: relative;
	z-index: 10;
}
.main:after {
	content:" ";
	height: 20px;
	width: 972px;
	position: absolute;
	bottom: -20px;
	right: 0;
	display: block;
	background: url("tenprava.png") no-repeat 0 -40px,
	url("tenlevo.png") no-repeat 0 -39px;
	z-index: 5;
}


/* шапка */
.header {
	-background-color: red;
	width: 932px;
}
/* левое лого */

.tittle-logo { 
font-size: 11px;
color: #999999;

}
.left-logo {
	width: 200px;
	height: 100px;
	float: left;
}

h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 40px;
	color: #222222;
}


/* менюшка */

nav {
	float: right;
	height: 100px;
	width: 550px;
}
.glavmenu {
	width: 550px;
	height: 32px;
	list-style: none; 
	margin: 20px 0;
	-background-color: green;
	text-align: center;
		font-size: 0;
		
}

.glavmenu > li {
	display: inline-block;
	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
	text-align: cetner;
	color: #666666;
	padding: 12px 10px;
	margin-left: 25px;
	-background: blue;
	position: relative;
	font-weight: bold;
}

ul.glavmenu > a {
	display: block;
}
.glavmenu > li:first-child {
	padding-left: 10px;
}
.glavmenu > li:hover {
	background-color: #f5f5f5;
	border-radius: 2px;
}
.glavmenu > li a:link, a:visited {
	text-decoration: none;
	color: #666666;
}

.glavmenu >  li a:link:hover, a:visited:hover {
	color: black;
}

/*кнопка оранж*/
#buttom-applynow {
	padding: 10px 6px;
	color: white;
	font-size: 14px;
	background-color: #ffc24b;
	border: 1px solid #efaf3f;
	border-radius: 2px;
	text-shadow: 1px -1px 1px #eba334;
   

}
#buttom-applynow:hover {
	background: linear-gradient(0deg, #FFD382 23%, #ffc24e 89%);
}

#buttom-applynow a, 
#buttom-applynow a:link:hover, 
#buttom-applynow a:visited:hover {
	color: white;
}

#buttom-applynow a:active{
     position: relative;
     top: 1px;
 }

/* выпадающее меню*/
ul.submenu {
	display: none;
	
	width: 170px;
	height: 155px;
	position: absolute;
    top: 40px;
    left: -15px;
    z-index: 10;
   -text-align: right;
    margin: 0;
    padding: 10px 5px;
    list-style: none;
    background: #ffffff;
	border: 1px solid #dddddd;
	
}
.submenu li {
	padding: 5px 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: left;
	box-sizing: border-box;
	color: #666666;
	-background: lightgrey;
	border-bottom: 1px solid #e5e5e5;
	font-size: 10px;
	font-family: 'Oxygen Regular', sans-serif;
}
.submenu li a {
	font-size: 12px;
	font-family: 'Oxygen Regular', sans-serif
}

.submenu li:last-child {
	border: none;
	margin-bottom: 10px;
}
.submenu li:hover {
	background-color: #f3f3f3;
	
}
.submenu-Articles {
	font-size: 10px;
	color: b4b4b4;
	font-family: Arial;
	}
	
	
.submenu::before {
	content: " ";
	position: absolute;
	top: -2px;
	left: 25px;
	width: 16px;
	height: 8px;
	background: transparent url("treugol.png") 0 0;
}
ul.submenu li a:hover {
	color: lightgrey;
}
ul.glavmenu li:hover ul {
	display: block;

}
/* баннер с челом-пауком*/
.banner {
	height: 300px;
	width: 100%;
	-background-color: blue;
	font-size: 0;
	border-bottom: 2px solid #e5e5e5;
	
}
.banner .image {
	width: 380px;
	padding: 40px 0 10px 55px;
	display: inline-block;
	-background-color: red;
	position: relative;
}
.banner .image img {
	box-shadow:  0px 3px 8px 0px #878787;
	border: 5px inset #dfdfdf;
}
.banner-pager {
	position: absolute;
	top: 172px;
	left: 61px;
	width: 280px;
	height: 50px;
	-background-color: pink;
	font-size: 0px;
	display: none;
}
.listalka-page, 
.menu-page {
	vertical-align: top;
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
	margin-right: 3px;
	
}
.listalka-page {
	width: 30px;
	height: 50px;
	color: white;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	opacity: 0.6;
	cursor: pointer;
	font-weight: regular;
}
.listalka-page.right {
	margin-right: 0px;
}
.menu-page {
	width: 214px;
	height: 50px;
	color: white;
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	text-align: left;
	line-height: 1.5em;
	font-weight: regular;	
	padding: 5px;
	cursor: default;
}
.first-chast {
	font-size: 11px;
	font-weight: regular;	
	color: #e0a943;
	}
.second-chast {
		font-size: 11px;
	font-weight: regular;	
	color: #676767;
}
.image:hover .banner-pager {
	display: block;

}
.fa.fa-chevron-right,
.fa.fa-chevron-left {
	text-align: center;
	padding-top: 10px;
	color: rgba(255,255,255,0.6);
	font-size: 1.5em;
	
	
}

/* текст справа*/
.banner .tittle-trailer {
	width: 484px;
	display: inline-block;
	-background-color: green;
	padding: 60px 0px 0 0;
	vertical-align: top;
	
}

.tittle-trailer h1 {
	font-size: 38px;
	font-family: 'Oxygen', sans-serif;
	text-align: right;
	color: #515151;
	padding: 0px 0px;
	margin: 0px 0 5px 0;
	font-weight: regular;
	
}
.tittle-trailer > p {
	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
	font-weight: regular;
	text-align: right;
	color: #666666;
	padding: 0px 0 5px 0;
	font-weight: lighter;
	border-bottom: 1px solid #f6f6f6;
}
.tittle-trailer .trailer-buttom {
	height: 40px;
	width: 166px;
	border: 1px solid #efb74c;
	background-color: #ffc350;
	position: relative;
	margin-left: 310px;
	margin-top: 10px;
    background: linear-gradient(0deg, #ffc24e 23%, #FFD382 89%);
	
}
.tittle-trailer .trailer-buttom:hover {
	-background-color: #fccb6f;
	background: linear-gradient(0deg, #FFD382 23%, #ffc24e 89%);
}
.tittle-trailer .trailer-buttom:active{
     position: relative;
     top: 1px;
     box-shadow: rgba(255,255,255,0.2) 0 16px 0,inset rgba(0,0,0,0.1) 0px 4px 16px;
 }


.buttom-buttom-trailer {
	
	height: 35px;
	width: 37px;
	border-left: 1px solid #efb74c;
	position: absolute;
	top: 2px;
	left: 125px;
	color: white;
	font-size: 17px;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	padding-top: 5px;
}
.trailer-buttom a {
	color: white;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
}
.trailer-buttom a:hover {
	-color: darkblue;
	
}
.tittle-trailer .trailer-buttom h3 {
	height: 12px;
	font-size: 15px;
	font-family: 'Oxygen Regular', sans-serif;
	color: #fff;
	font-weight: lighter;
	margin: 5px 5px;
	}
.tittle-trailer .trailer-buttom p {
	height: 10px;
	font-size: 10px;
	font-family: 'Oxygen', sans-serif;
	color: #d28600;
	font-weight: bold;
	margin: 6px 0px 5px 5px;
	text-shadow: 0.5px 0.5px 0.8px #fff;
	
	}
	


	
	
/* баннер с тремя колонками */

.wrapper {
	height: 415px;
	width: 100%;
	-background-color: green;
	font-size: 0;
	
}
.wrapper h1 {
	font-size: 18px;
	text-align: left;
	margin: 25px 0;
	font-family: 'Oxygen', sans-serif;
	color: #595959;
	font-weight: bold;
}

.block-three-columns {
	min-height: 295px;
	background-color: #fff;
	width: 100%;
}
.column-info-first {
	display: inline-block;
	width: 300px;
	margin-right: 10px;
	-background-color: #ae0;
	vertical-align: top;
}

.podlojaimage-first {
	width: 298px;
	height: 196px;
	background-color: #f0f0f0;
	display: block;
	margin-top: 0;
}
.podlojaimage-first:hover {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	background-color: #fff;
	transition: background-color 0.5s linear;
}
.fon-pod-image-column {
	width: 296px;
	height: 143px;
padding: 0;
margin: 0;
	overflow: hidden;
	position: relative;
	background-color: #f0f0f0;
	
}
.fon-pod-image-column-first img , 
.fon-pod-image-column-second img {
padding: 0;
margin: 0px 0px;
	position: absolute;
top: -118px;
left: -135px;
-border: 5px solid #fff;
}
.fon-pod-image-column-three img {
	position: absolute;
	top: 1px;
left: 2px;
}
/* ховер на птице   */ 

.hover-column {
	background: linear-gradient(to top, rgba(0,0,0,0.4) 8%, transparent 80%),
	linear-gradient(to bottom, rgba(0,0,0,0.4) 8%, transparent 80%);
	-background-color: rgba(0,0,0,0.2);
	width: 295px;
	height: 142px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.round-border-1 {
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 18px;
	position: absolute;
	top: 58px;
	left: 75px;
}
.round-buttom-1 {
	width: 26px;
	height: 26px;
	border-radius: 14px;
	position: absolute;
	top: 5px;
	left: 5px;
	overflow: hidden;
	background: url("icons.png") no-repeat;
	background-position: -4px -12px;
	cursor: pointer;
}


.round-border-2 {
	width: 62px;
	height: 62px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 31px;
		position: absolute;
	top: 45px;
	left: 115px;
}
.round-buttom-2 {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	position: absolute;
	top: 7px;
	left: 7px;
	overflow: hidden;
	background: url("icons.png") no-repeat;
	background-position: -30px 0px;
	cursor: pointer;
}

.round-border-3 {
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 18px;
		position: absolute;
	top: 58px;
	left: 180px;
}
.round-buttom-3 {
	width: 26px;
	height: 26px;
	border-radius: 14px;
	position: absolute;
	top: 5px;
	left: 5px;
	overflow: hidden;
	background: url("icons.png") no-repeat;
	background-position: -78px -11px;
	cursor: pointer;
}

.fon-pod-image-column-first:hover .hover-column-1 {
	display: block;
}

.fon-pod-image-column-second:hover .hover-column-2 {
	display: block;
}
.fon-pod-image-column-three:hover .hover-column-3 {
	display: block;
}

/* ховер закончился*/



.podlojaimage-first h3 {
	display: block;
	-background-color: red;
	width: 275px;
	font-size: 14px;
	margin: 5px 5px 5px 10px;
	font-family: 'Oxygen', sans-serif;
	color: #666666;
	font-weight: bold;
	background-color: ;
}
.podlojaimage-first h3 a {
	text-decoration: none;
}
.podlojaimage-first p {
	width: 290px;
    font-size: 11px;
	font-family: 'Arial', sans-serif;
	color: #999999;

	margin: 0px 5px 10px 10px;
	
}

.column-info-first .articles-incolumn,
.column-info-second .articles-incolumn,
.column-info-three .articles-incolumn {
	width: 298px;
	font-size: 12px;
	margin: 15px 0 10px 0;
	font-family: 'Arial', sans-serif;
	color: #666666;
	padding: 0 0 0 10px;
	line-height: 1.6em;
}
.podlojaimage-first:after {
	margin-top: 0px;
	width: 298px;
	height: 20px;
	content: " ";
	display: block;
-border-top: 10px solid transparent;
background-image:
        linear-gradient(transparent, transparent),
        linear-gradient(to bottom right, transparent 50.5%, #fff 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, #fff 50.5%),
        linear-gradient(to top right, transparent 50.5%, #f0f0f0 50.5%),
        linear-gradient(to top left, transparent 50.5%, #f0f0f0 50.5%);
background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
background-clip: padding-box, border-box, border-box, border-box, border-box;
background-origin: padding-box, border-box, border-box, border-box, border-box;
}
.podlojaimage-first:hover:after {
		margin-top: 0px;
		border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	width: 295.5px;
	height: 10px;
	background:
    linear-gradient(
      45deg, transparent 33.333%,
      #f0f0f0 33.333%, #f0f0f0 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #f0f0f0 33.333%, #f0f0f0 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
  transition: background 0.5s linear;
}
/*блок 2 - 3 колонка*/
.column-info-second {
	display: inline-block;
	width: 298px;
	margin: 0px 10px 0 0px;
	vertical-align: top;
}

.column-info-three {
	display: inline-block;
	width: 298px;
	margin: 0px 0 0 0px;
	vertical-align: top;
}




/*банер с табами*/
.tabs-box-main > div,  .tabs-box-main  > input { 
display: none; 
} 

.tabs-box-main label { 

margin: 0 -4px 0 0;
line-height: 28px; 
cursor: pointer; 
position: relative; 
bottom: 1px; 
background: #fff;
 display: inline-block;
	width: 106px;
	height: 42px;
	padding: 10px 5px;
	font-size: 14px;
	vertical-align: top;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	}

.tabs-box-main input[type="radio"]:checked + label { 
border-bottom: 1px solid #fff; 
} 

.tabs-box-main > input:nth-of-type(1):checked ~ div.article-info:nth-of-type(1),
 .tabs-box-main > input:nth-of-type(2):checked ~ div.article-info:nth-of-type(2),
 .tabs-box-main > input:nth-of-type(3):checked ~ div.article-info:nth-of-type(3) {
	 display: block; 
	 padding: 5px; 
	- border: 1px solid #aaa;
	 }

/*банер с табами*/
.section-tabs {
	min-height: 315px;
	width: 100%;
	border-bottom: 2px solid #e5e5e5;
	
}

.section-tabs h1 {
	font-size: 18px;
	margin: 5px 0px 10px 10px;
	font-family: 'Oxygen', sans-serif;
	color: #222222;
	font-weight: regular;
}
.tabs-box-main { 
min-height: 240px;
border: 1px solid #e5e5e5;
border-radius: 5px;
position: relative;
}
.tittle-tabs {
	position: absolute;
	height: 42px;
	background-color: #fbfbfb;
	width: 100%;
	-border-bottom: px solid #e5e5e5;
}
.buttom-tabs {
	display: inline-block;
	width: 93px;
	height: 42px;
	padding: 10px 0px;
	font-size: 14px;
	vertical-align: top;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.article-info {
	padding-top: 25px;
	background-color: #fff;
	-padding-bottom: 25px;
}
.article-info h3 {
	margin: 10px 0 10px 10px;
	font-size: 14px;
	font-weight: 400;
}

/*колонки */
.article-columt-content {
	width: 898px;
	min-height: 130px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}
.columt-content-first,
.columt-content-second, 
.columt-content-three {
	display: inline-block;
	width: 275px;
	-background-color: #ae0;
	vertical-align: top;
	margin-right: 25px;
	height: 130px;
}
.columt-content-three {
	margin-right: 0;
}

.columt-content-first ul {
	width: 170px;
	height: 105px;
	text-align: left;
	list-style-position: inside;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: regular;
	color: #333333;
	line-height: 1.8em;
	list-style: none;
	padding-left: 25px;
}
.columt-content-first ul li {
	position: relative;
}
.columt-content-first ul li a {
	text-decoration: none ;
}

.columt-content-first ul li:before {
	content: " ";
	position: absolute;
	top: 7px;
	left: -15px;
	width: 5px;
	height: 7px;
	background: url("galochka.png") 0 0;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.columt-content-first .image-article ,
.columt-content-second .image-article , 
.columt-content-three .image-article {
	width: 122px;
	height: 99px;
	border: 1px solid #e5e5e5;
		
	background-color: #fff;
	display: inline-block;
	text-align: center;
	padding: 2px 2px;
	vertical-align: top;
}
.columt-content-first .image-article  > div,
.columt-content-second .image-article > div, 
.columt-content-three .image-article > div {
	height: 93px;
	width: 116px;
	overflow: hidden;
	text-align: center;
	-background-color: blue;
}
.columt-content-first p,
.columt-content-second p, 
.columt-content-three p {
	text-align: left;
	font-size: 11px;
	line-height: 1.8em;
	width: 145px;
	display: inline-block;
	-background-color: green;
	vertical-align: top;
	color: #999999;
	font-family: Arial, sans-serif;
	font-weight: regular;
}
.bold-tittle {
	font-weight: bold;
	color: #333333;
}


footer {
	height: 245px;
	width: 100%;
	font-size: 10px;
	
	list-style-position: inside;
		
}
.SINGLE-MENU-TITLE {
	width: 25%;
	display: inline-block;
	-background-color: lightgreen;	
	vertical-align: top;
	
}

.Cursus-Venenatis-Mollis {
	width: 25%;
	-background-color: lightyellow;
	display: inline-block;
	vertical-align: top;
}

.LATEST-ARTICLES {
	width: 49%;
	-background-color: lightblue;
	display: inline-block;
	vertical-align: top;
}


/* низ */

footer h3 {
	color: #ffad19;
	font-size: 12px;
	margin-bottom: 15px;
	padding-top: 25px;
}

.SINGLE-MENU-TITLE ul, 
.Cursus-Venenatis-Mollis ul {
	width: 190px;
	text-align: left;
	list-style-position: inside;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: regular;
	color: #666666;
	line-height: 1.5em;
	list-style: none;
	padding-left: 1px;
}
.SINGLE-MENU-TITLE ul li,
.Cursus-Venenatis-Mollis ul li {
	width: 182px;
	text-align: left;
	color: #666666;
	padding: 6px 0;
	border-bottom: 1px solid #e5e5e5;
}
.ul-first-column-foot li:last-child,
.ul-two-column-foot li:last-child, 
.ul-three-column-foot li:last-child  {
		border: none;
}
.SINGLE-MENU-TITLE ul li a,
.Cursus-Venenatis-Mollis ul li a {
	text-decoration: none;
}

.LATEST-ARTICLES ul {
	width: 458px;
	text-align: left;
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: regular;
	color: #666666;
	line-height: 1.5em;
	list-style: none;
	padding: 0 4px;
	}
.LATEST-ARTICLES ul li {
border-bottom: 1px solid #e5e5e5;
padding: 10px 0 10px 33px;
position: relative;
}

.LATEST-ARTICLES ul li span {
	font-size: 12px;
	text-decoration: underline;
	color: #666666;
}
.LATEST-ARTICLES ul li:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 24px;
	height: 20px;
	background: url("latest-artic.png") 0 0;
	background-repeat: no-repeat;
	
}
